params {
    project         = "whole-genome-imputation"
    build           = "hg19"
    files           = "/home/ec2-user/neda/50-samples/*.vcf.gz"
    allele_frequency_population      = "eur"
    password        = "lukas"
    mode            = "imputation"
    refpanel_yaml   = "$projectDir/tests/data/refpanels/1000g/cloudgene.yaml"
    output = "/home/ec2-user/neda/imputation/"
    phasing = [
        engine: "beagle",
        window: 5000000
    ]
    chunksize = 20000000
    merge_results = false
    encryption = [
        enabled: false
    ]
    imputation = [
        enabled: true,
        meta: false
    ]
}
